<%= content_for :css do%>
	<%= stylesheet_link_tag "login" %>
<% end %>

<%= content_for :js do%>
	<script type="text/javascript">
		$(document).ready(function(){
			$("input").val('');			
		});
	</script>
<% end %>

<%= content_for :login do %>
	<div id="additional"></div>
	<div id="formWrapper">
		<div id="formCasing">
			<h1>Alterar senha</h1>
			<div id="loginForm">
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>				
					<%= content_tag(:p, resource.errors.full_messages, :class => "error") unless resource.errors.empty? %>
					
					<%= f.hidden_field :reset_password_token %>					
					<dt class="alteracaosenha"><%= f.label :password, 'Senha' %></dt>
					<dd><%= f.password_field :password, :class => 'input' %></dd>
					<dt class="alteracaosenha"><%= f.label :password_confirmation, 'Confirmação' %></dt>
					<dd><%= f.password_field :password_confirmation, :class => 'input' %></dd>									
										
					<dd class="alteracaosenha"><%= f.submit "Trocar senha", :src => '/images/botao/botao_alterar_senha.png', :type => 'image' %></dd>				
				<% end %>
			</div>
		</div>
		<div id="formFooter"></div>
	</div>
<% end %>