<%= content_for :css do%>
	<%= stylesheet_link_tag "login" %>		
<% end %>

<%= content_for :login do %>
	<div id="additional"></div>
	<div id="formWrapper">
		<div id="formCasing">
			<h1>Esqueceu sua senha?</h1>
			<div id="loginForm">
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
					
					<%= content_tag(:p, resource.errors.full_messages, :class => "error") unless resource.errors.empty? %>
					
					<dt><%= f.label :email, 'E-mail' %></dt>
					<dd><%= f.text_field :email, :class => 'input'%></dd>
										
					<dd>						
						<%= link_to_function "Resetar Senha", "$('form').submit()" ,{:class => 'button white'} %>	
					</dd>				
				<% end %>
			</div>
		</div>
		<div id="formFooter"></div>
	</div>
<% end %>