<h1>Itens</h1>

<table class="tabela">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Categoria</th>    
			<th>Descricao</th>
			<th>Preco</th>    
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @itens.each do |item| %>
			<tr>
				<td><%= item.nome %></td>
				<td><%= item.categoria.nome %></td>    
				<td><%= item.descricao %></td>
				<td><%= item.preco %></td>    
				<td><%= link_to 'Editar', edit_item_path(item) %></td>
				<td><%= link_to image_tag('/images/botao/trash.gif', :border => 0), item, :confirm => 'Deseja remover este item?', :method => :delete %></td>				
			</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= will_paginate @itens %>

<br />

<%= link_to image_tag('/images/botao/botao_novo.png', :border => 0), :action => 'new'%>
