<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @item.nome %>
</p>

<p>
  <b>Categoria:</b>
  <%= @item.categoria_id %>
</p>

<p>
  <b>Imagem:</b>
  <%= image_tag @item.imagem.url(:thumb) %>
</p>


<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Voltar', itens_path %>
