<%= form_for(@categoria) do |f| %>
  <% if @categoria.errors.any? %>
  
    <div class="error_explanation">
      <h2>Erro ao cadastrar categoria:</h2>

      <ul>
		<% @categoria.errors.full_messages.each do |msg| %>
			<li class="error"><%= msg %></li>
		<% end %>
      </ul>
    </div>
	
  <% end %>

  <div class="field">
	<div>
		<%= f.label :nome %>
	</div>
    <div>
		<%= f.text_field :nome, :class => 'input' %>
	</div>
  </div>
  <br/>
  <div class="actions">    
	<%= link_to image_tag('/images/botao/botao_voltar.png', :border => 0), :action => 'index'%>
	<%= f.submit "Salvar", :src => '/images/botao/botao_salvar.png', :type => 'image' %>
  </div>
<% end %>
