<%= content_for :js do%>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#categoria_nome').select();			
		});
	</script>
	<!--[if IE]>
	<script>
		$(document).ready(function(){
			$("#categoria_nome").focus();
		});
	</script>
	<![endif]-->
<% end %>

<%= form_for(@categoria) do |f| %>
  <% if @categoria.errors.any? %>
  
    <div class="error_explanation">
      <h2>Erro ao cadastrar categoria:</h2>

      <ul>
		<% @categoria.errors.full_messages.each do |msg| %>
			<li class="error"><%= msg %></li>
		<% end %>
      </ul>
    </div>
	
  <% end %>

  <div class="field">
	<div>
		<%= f.label :nome %>
	</div>
    <div>
		<%= f.text_field :nome, :class => 'input' %>
	</div>
  </div>
  <br/>
  <div class="actions">    
	<%= link_to "Voltar", {:action => 'index'}, {:class => 'button white'} %>
	<%= link_to_function "Salvar", "$('form').submit()" ,{:class => 'button white'} %>	
  </div>
<% end %>
