<%= content_tag(:p, flash[:alert], :class => "error") if flash[:alert] %>
<h1>Categorias</h1>

<table class="tabela">
	<thead>
		<tr>
			<th>Nome</th>
			<th class="icones_tabela"></th>			
			<th class="icones_tabela"></th>
		</tr>
	</thead>
	<tbody>
		<% @categorias.each do |categoria| %>
			<tr>
				<td><%= categoria.nome %></td>				
				<td><%= link_to image_tag('/images/botao/editar.png', :border => 0), edit_categoria_path(categoria) %></td>
				<td><%= link_to image_tag('/images/botao/trash.gif', :border => 0), categoria, :confirm => 'Deseja remover esta categoria?', :method => :delete %></td>
			</tr>
		<% end %>
	<tbody>
</table>

<br />

<%= will_paginate @categorias %>

<br />

<%= link_to image_tag('/images/botao/botao_novo.png', :border => 0), :action => 'new'%>