<h1>Categorias</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categorias.each do |categoria| %>
  <tr>
    <td><%= categoria.nome %></td>
    <td><%= link_to 'Detalhes', categoria %></td>
    <td><%= link_to 'Editar', edit_categoria_path(categoria) %></td>
    <td><%= link_to 'Remover', categoria, :confirm => 'Deseja remover esta categoria?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @categorias %>

<br />

<%= link_to 'Nova', new_categoria_path %>
