<%= content_for :js_css do%>
	<%= stylesheet_link_tag "login" %>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$("#user_email").select();
		});
	</script>
	<!--[if IE]>
	<script>
		$(document).ready(function(){
			$("#user_email").focus();
		});
	</script>
	<![endif]-->
<% end %>

<%= content_for :login do %>
	<div id="additional"></div>
	<div id="formWrapper">
		<div id="formCasing">
			<h1>Cardápio na Mão</h1>
			<div id="loginForm">
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<dt><%= f.label :email, 'E-mail' %></dt>
					<dd><%= f.text_field :email, :class => 'input'%></dd>

					<dt><%= f.label :password, 'Senha' %></dt>
					<dd>
						<%= f.password_field :password, :class => 'input' %>
						<span>
							<%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %>					
						</span>
					</dd>					
					<dd><%= f.submit "Login", :src => '/images/login.gif', :type => 'image' %></dd>				
				<% end %>
			</div>
		</div>
		<div id="formFooter"></div>
	</div>
<% end %>