<!DOCTYPE html>
<html>
<head>
  <title>Cardápio na Mão</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :js_css %>
</head>
<body>

<%= yield%>

</body>
</html>
