<!DOCTYPE html>
<html>
<head>
  <title>Cardápio na Mão</title>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
  <% if content_for? :css %>
		<%= yield :css %>		
	<% else %>			
		<%= stylesheet_link_tag "main" %>
	<% end %>	
  <%= csrf_meta_tag %>  	
</head>
<body id="admin" class="clientdashboard">
	<% if content_for? :login %>
		<%= yield :login %>
	<% else %>
		<div id="adminNavsWrapper">
			<div class="adminNavs">
				<ul>					
					<li id="adminNavsOn2">
						<%= link_to home_path do%>
							<span>Home</span>
						<% end %>						
					</li>
					<li>
						<%= link_to categorias_path do%>
							<span>Categorias</span>
						<% end %>
					</li>
					<li>
						<%= link_to itens_path do%>
							<span>Itens</span>
						<% end %>						
					</li>
					<li>
						<%= link_to itens_path do%>
							<span>Dispositivos</span>
						<% end %>						
					</li>					
					<li>
						<%= link_to download_path do%>
							<span>Download</span>
						<% end %>						
					</li>					
				</ul>
			</div>
			<div class="adminNavs adminRight">
				<ul>		
					<li>
						<%= link_to ajuda_path do%>
							<span>Ajuda</span>
						<% end %>						
					</li>
					<li>
						<%= link_to destroy_user_session_path do%>
							<span>Logout</span>
						<% end %>						
					</li>					
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div id="case">
			<div class="shadowHeader">
				<div class="shadowMidLeft">
					<div id="header">
						<h1><a href="#">Cardápio na Mão</a></h1>
					</div>
				</div>
			</div>
			<div class="shadowWrap">
				<div class="shadowMidLeft">
					<div class="shadowMidContent">
						<div id="dashboard">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
			<div class="shadowBottomLeft">
				<div class="shadowMidLeft">
				</div>
			</div>
		</div>		
	<% end %>	
	<%= javascript_include_tag :defaults %>
	<!--[if lte IE 6]>
		<script type="text/javascript" src="http://js.createsend1.com/js/plugins/supersleight-min.js?1"></script>
	<![endif]--> 
	<% if content_for? :js %>
		<%= yield :js %>						
	<% end %>
</body>
</html>