<!DOCTYPE html>
<html>
<head>
  <title>Cardápio na Mão</title>
  <%= javascript_include_tag :defaults %>
	<% if content_for? :js_css %>
		<%= yield :js_css %>		
	<% else %>			
		<%= stylesheet_link_tag "scaffold" %>
	<% end %>	
  <%= csrf_meta_tag %>  
</head>
<body>

<%= yield%>

</body>
</html>
